#game{
    background-color: black;
    text-align: center;
    padding-block: 50px;
}

.game__containerdown{

 /* The image used */
  

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1%;
  margin-left: 25%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.up{
    display: none;
}

.game__containerup{

    /* The image used */
     
   
     /* Set a specific height */
     min-height: 500px; 
   
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: 4rem;
     display: grid;
     grid-template-columns: 20% 80%;
     padding: 1%;
     margin-right: 25%;
     border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
   }

.content_text_up
{   
    text-align: left;
    padding: 20px;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
    margin-top: auto;
    margin-bottom: auto;
   

}

.content_text_down
{   
    text-align: right;
    padding: 20px;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
    margin-top: auto;
    margin-bottom: auto;
}



.content_img{
    margin:auto;
}

.content_img img {
     width: 70%;
     margin-left: 10%;
    border-radius: 2rem ;
}


.content_img a {
    margin-top: 10%;

}

@media screen and (max-width :1024px) {

    .game__containerup{
        grid-template-columns: 1fr;
       
       
    }
    .game__containerdown{
        grid-template-columns: 1fr;
       
    }
    .content_text_up
    {
        text-align: center;
    }

    .content_text_down
{  
    text-align: center;
}
.down{
    display: none;
}

.up{
    display: block;
}
}