header {
    background-image: url("../../assets/header_background1.jpg");
    height: 100vh;    
    background-size:auto 100vh;
    overflow: hidden;
    background-repeat:repeat-x;
    
    
}




.header_container{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.327) 0%, rgba(0,0,0,1) 100%);
    height:100%;
    text-align: center;
    display:grid;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    
    
    

}

.header_content{
    display:inline;
}

.header_content h1{
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
    
}



.header__socials {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 10rem;
    bottom: 13rem;

}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.logo_img{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

   
}


.threed{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10rem;
    height: 100vh;
    width: 500px;
}


@media screen and (max-width :1024px) {
    .header__socials{
        display: none;
    } 
    
    .header_content h1{
        font-size: 40px;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    .logo_img{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
   }
   
   
   @media screen and (max-width :600px) {
    .header__socials{
        display: none;
    } 
    
    .header_content h1{
        font-size: 40px;
        margin-top: auto;
        margin-bottom: auto;
        
    }
   }