header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}



.head__container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:10rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    backdrop-filter: blur(3px);
    background-color: var(--color-primary-variant);
    border-radius: 2rem;
    transition: linear;

}

.logo{
    height:10rem;
    width: 10rem;
    border-radius: 2rem;
}

.head__text{
 text-align:center;
 line-height: 10rem;
 font-size: medium;
}




.tittle-container{
    width: 100vw;
    
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    backdrop-filter: blur(3px);
    background-color: var(--color-primary-variant);
}

/* ######################## CTA #################### */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ######################## Header Socials #################### */


.header__socials {
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 15vh;

}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ######################## Me #################### */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5;

}


/* ########################Scroll#################### */

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 25vh;
    transform: rotate(90deg) ;
    font-weight: 300;
    font-size: larger;
}





@media screen and (max-width :1024px) {
 header {
    height: 100vh;
 }
 .header__socials,
 .scroll__down {
  display: none;
 }

 .head__container{
    margin-top: -12%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
 }
 .tag{
    display: none;
 }
}


@media screen and (max-width :600px) {
   header{
     height: 100vh;
   }

   .header__socials,
   .scroll__down {
    display: none;
   }
   .head__container{

    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .tag{
    display: none;
   }
}